@import "tailwindcss";

:root {
}

body {
  background-color: black;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-slide-thumb-active {
  border: 2px solid #2563eb; /* blue border */
  opacity: 1 !important;
  padding: 0.8rem;
  scale: 0.9;
}
