.footer_container {
  min-height: 45vh;
  /* background-color: red; */
  padding: 4rem 13rem;
  border-top: 1px solid rgb(51, 51, 51);
  position: relative;
}

.footer_region_details {
  border: 1px solid rgb(51, 51, 51);
  width: fit-content;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 0.5rem;
  font-family: roboto;
  font-weight: 300;
  font-size: 0.875rem;
}

.footer_region_details img {
  width: 25px;
}

.region_dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(75, 75, 75);
}

.footer_content_bottom_copy {
  text-align: center;
  font-family: roboto;
  font-weight: 300;
  font-size: 0.875rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer_content_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_socials {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.5rem;
  color: rgb(78, 78, 78);
}

.footer_bottom {
  display: flex;
  gap: 0.85rem;
  padding: 1rem;
  font-family: inter;
  font-weight: 300;
  font-size: 0.85rem;
  color: #868686;
}

.footer_bottom li {
  transition: all 300ms ease-in-out;
}

.footer_bottom li div {
  background-color: #868686;
  width: 100%;
  height: 1px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.footer_bottom li:hover div {
  opacity: 1;
}

.footer_bottom li:hover {
  color: #f5f5f5;
}

.protected_logo {
  --circ-radius: 130px;
  width: var(--circ-radius);
  height: var(--circ-radius);
  border-radius: 50%;
  border: 2px dotted #4e4e4e;
  padding: 1rem;
  /* background-color: red; */
  color: #4e4e4e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  text-align: center;
  gap: 0.5rem;
  user-select: none;
  -webkit-user-select: none; /* for Safari */
  -ms-user-select: none; /* for IE/Edge */
}

.protected_logo p {
  font-family: inter;
  font-size: 0.75rem;
}

.footer_bottom_logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  user-select: none;
  -webkit-user-select: none; /* for Safari */
  -ms-user-select: none; /* for IE/Edge */
}

.footer_bottom_logos img {
  max-width: 200px;
  width: 100%;
  user-select: none;
  -webkit-user-select: none; /* for Safari */
  -ms-user-select: none; /* for IE/Edge */
  -webkit-user-drag: none;
  user-drag: none;
}

@media (max-width: 980px) {
  .footer_container {
    padding: 4rem 8rem;
  }
}

@media (max-width: 790px) {
  .footer_container {
    padding: 4rem 4rem;
  }
}

@media (max-width: 655px) {
  .footer_container {
    padding: 4rem 2rem;
  }
}

@media (max-width: 590px) {
  .footer_container {
    padding: 4rem 1rem;
  }
}

@media (max-width: 555px) {
  .footer_content_top {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
    gap: 2rem;
    padding: 1rem;
  }
  .footer_bottom {
    display: flex;
    gap: 0.85rem;
    padding: 2.5rem 1rem;
  }
  .footer_bottom_logos {
    margin-bottom: 2rem;
  }
}

@media (max-width: 380px) {
  .footer_bottom_logos {
    flex-direction: column;
    gap: 2rem;
  }
}
