.spacer {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  /* padding: 0 15rem !important; */
}

.horizontal {
  padding: 0 8rem !important;
}

.vertical {
  padding: 8rem 0 !important;
}

.both {
  padding: 8rem !important;
}
